
#carlin-bug-filer {
    position: fixed;
    bottom: 16px;
    right: 16px;
    left: 16px;
    text-align: right;
    vertical-align: bottom;
    height: 0;
    overflow: auto;
    z-index: 999;
    pointer-events: none;
}

.carlin-bug-filer-thumbnail {
    position: absolute;
    margin-right: 16px;
    bottom: 16px;
    width: 200px;
    border: 6px solid #888;
    float: right;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    opacity: 0.66;
    transition: opacity 200ms ease-in-out;
}
.carlin-bug-filer-thumbnail:hover {
    opacity: 1.0;
}
.carlin-bug-filer-thumbnail img {
    width: 100% !important;
    height: 100% !important;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.carlin-bug-filer-thumbnail video {
    width: 100% !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}
.carlin-bug-filer-thumbnail .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
    margin: 2px;
    font: 12px/0px Verdana;
}
.carlin-bug-filer-thumbnail .actionButton {
    position: absolute;
    margin-right: 6px;
    bottom: 6px;
    float: right;
    width: 16px;
    height: 16px;
}

.carlin-bug-filer-cursor {
    width: 48px;    /* size of image */
    height: 48px;   /* size of image */
    position: absolute;
    z-index: 888;
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none !important;
}

