
#carlin-tab-recorder {
    position: fixed;
    bottom: -12px;
    right: 0;
    left: 0;
    text-align: left;
    vertical-align: bottom;
    max-height: 0;
    overflow: hidden;
    z-index: 9999;
    padding: 16px 0 12px 0;
    transition: max-height 500ms ease-in-out;
}
#carlin-tab-recorder.show {
    max-height: 200px;
}
#carlin-tab-recorder .tab {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -28px;
    width: 56px;
    height: 12px;
    background: url('chrome-extension://__MSG_@@extension_id__/images/drawer-handle.png') top center no-repeat;
    cursor: pointer;
}
#carlin-tab-recorder .background {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 0.9;
    box-shadow: 0 2px 6px #000;
}

.carlin-tab-recorder-thumbnail {
    position: relative;
    margin: 4px 6px 6px 0;
    bottom: 0;
    width: 19%;
    height: 128px;
    float: right;
    overflow: visible;
    opacity: 0.75;
    text-align: center;
    vertical-align: middle;
    transition: opacity 200ms ease-in-out;
}
.carlin-tab-recorder-thumbnail:hover {
    opacity: 1.0;
}
.carlin-tab-recorder-thumbnail .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #888;
    padding: 7px;
    opacity: 0.75;
    border-radius: 4px;
}
.carlin-tab-recorder-thumbnail .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    overflow: hidden;
    padding: 0;
    margin: 8px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}
.carlin-tab-recorder-thumbnail .target {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #222;
}
.carlin-tab-recorder-thumbnail .container img.target {
    opacity: 0 !important;
}
.carlin-tab-recorder-thumbnail .container img.target.gif {
    opacity: 1.0 !important;
}
.carlin-tab-recorder-thumbnail .container video.target {
}

.carlin-tab-recorder-thumbnail button {
    margin: 0 4px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    opacity: 0.8;
}
.carlin-tab-recorder-thumbnail button:hover {
    opacity: 1.0;
}
.carlin-tab-recorder-thumbnail .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    font-weight: bold;
    line-height: 0;
    margin: 2px 3px 0 0;
}
.carlin-tab-recorder-thumbnail .recordButton {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: white url('chrome-extension://__MSG_@@extension_id__/images/media-record-8x.png') center center no-repeat;
}
.carlin-tab-recorder-thumbnail .recordButton.recording {
    background: white url('chrome-extension://__MSG_@@extension_id__/images/media-stop-8x.png') center center no-repeat;
}
.carlin-tab-recorder-thumbnail .recordButton.processing {
    background: white url('chrome-extension://__MSG_@@extension_id__/images/Preloader_10.gif') center center no-repeat;
}
.carlin-tab-recorder-thumbnail .downloadButton {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #46b8da;
    border-radius: 4px;
    background: #5bc0de url('chrome-extension://__MSG_@@extension_id__/images/data-transfer-download-2x.png') center center no-repeat;
    margin: 0 3px 4px 0;
}


.carlin-tab-recorder-cursor {
    width: 48px;    /* size of image */
    height: 48px;   /* size of image */
    position: absolute;
    z-index: 10000;
    background: url('chrome-extension://__MSG_@@extension_id__/images/cursor.png') center center no-repeat;
    pointer-events: none !important;
}

@media (min-width: 701px) and (max-width: 1000px) {
    .carlin-tab-recorder-thumbnail {
        width: 24%;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .carlin-tab-recorder-thumbnail {
        width: 32%;
    }
}

@media (min-width: 301px) and (max-width: 500px) {
    .carlin-tab-recorder-thumbnail {
        width: 47%;
    }
}

@media (max-width: 300px) {
    .carlin-tab-recorder-thumbnail {
        width: 96%;
    }
}
