
/* General UI */
body, html {
	height: 100%;
	width: 100%;
	background: white;
	color: #222;
	font: normal 9pt/16px Verdana;
	margin: 0;
	padding: 0;
}

#content {
	width: 300px;
	margin: 0 auto;
	padding: 16px;
}

h1 {
	font: bold 16pt/16pt Arial, Verdana;
	vertical-align: middle;
	margin: 0;
}
h1 img {
	vertical-align: middle;
    margin-top: -8px;
}

p {
    margin-bottom: 0;
}

/* Forms */

form {
	margin: 16px 0 0;
}
.field {
	font: normal 10pt/auto Verdana;
	color: #444;
	padding: 6px;
	width: 100%;
	background: #fff;
	overflow: auto;
	border: 1px solid #ddd;
	border-radius: 3px;
}
input {
	height: 2.5em;
}
textarea {
	height: 5em;
}
input.error, textarea.error {
	background: #f99;
}

label {
    color: #888;
}

fieldset {
    margin: 12px 0 0;
    padding: 12px 12px 16px;
    border: 1px solid #eee;
    background: #F0F8FE;
}

button {
	padding: 6px 8px;
    margin-bottom: 4px;
	font: bold 9pt/9pt Verdana;
	color: #444;
}
button.icon {
	position: relative;
	padding-left: 24px;
}
button img {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 12px;
    height: 12px;
}

.fR { float: right; }
.fL { float: left; }
.tR { text-align: right; }
.tL { text-align: left; }
.tC { text-align: center; }

.error {
	color: #d22;
}
